@model IEnumerable<Discussion> 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div>
        <a asp-controller="Webboard" asp-action="Index" class="float-right">All Topic</a>
    </div>
    <table class="table table-responsive table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <h4>@item.DiscussionTopic</h4>
                        <div>
                            Create name : @item.UserName
                            (IP : @item.UserIp) | 
                            Create date : @item.RecordDate?.ToString("dd/MM/yyyy HH:mm");
                        </div>
                    </td>
                    <td>
                        <div>
                            Read : @item.ViewCount |
                            Answer : @item.ReplyCount
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Webboard" 
                           asp-action="DiscussionByCategoryId"
                           asp-route-id="@item.Category.CategoryId">
                            @item.Category.CategoryName
                        </a>
                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>