<div class="card border-dark mt-3 mb-3">
    <div class = "card-header text-light bg-dark">
        <h4 class = "card-text">
            @ViewBag.TopicCommentVeiwModel.Discussion.DiscussionTopic
        </h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            @ViewBag.TopicCommentVeiwModel.Discussion.DiscussionDetails
        </p>
    </div>
    <div class="card-footer">
        <div>
            User Create : @ViewBag.TopicCommentVeiwModel.Discussion.UserName
            (IP number : @ViewBag.TopicCommentVeiwModel.Discussion.UserIp) |
            Create date : @ViewBag.TopicCommentVeiwModel.Discussion.RecordDate?.ToString("dd/MM/yyyy HH:mm")
            <div class="float-right">
                Category : @ViewBag.TopicCommentVeiwModel.Discussion.Category.CategoryName |
                Read : @ViewBag.TopicCommentVeiwModel.Discussion.ViewCount |
                Answer : @ViewBag.TopicCommentVeiwModel.Discussion.ReplyCount
            </div>
        </div>
    </div>

</div>      
@foreach (var item in ViewBag.TopicCommentVeiwModel.CommentsLists)
{
    <div class="card border-dark mb-3">
        <div class="card-body">
            <p class="card-text">
                Comment number @item.CommentNo
            </p><hr />
            <p class="card-text">
                @item.Description
            </p>
        </div>
        <div class="card-footer">
            <div>
                ผู้ตั้งกระทู้ : @item.UserName
                (หมายเลข IP : @item.UserIp) |
                วันที่ตั้งกระทู้ : @item.ReplyDate?.ToString("dd/MM/yyyy HH:mm")
            </div>
        </div>
    </div>
} 
