@model DiscussionForum.Models.ApplicationUser
@{
    ViewData["Title"] = "Member Details";
}
<div class="container">
    <h1> Page Member!!! </h1>
    <div class="card"> 
        <div class="card-header text-light bg-dark">
            <h3>ID : @Model.Id</h3>
        </div>
        <div class="card-body">
            @if (string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img class="img"
                     src="@Url.Content("~/wwwroot/images/" + "nopic.png")"
                     width="140" height="180" />
            }
            else
            {
                <img class="img"
                     src="@Url.Content("~/wwwroot/images/" + @Model.ImageUrl)"
                     width="140" height="180" />
            }

            <h5 class="card-title">UserName : @Model.UserName</h5>
            <h5 class="card-title">Email : @Model.Email</h5>
            <p class="card-text">
                <b>Fullname :</b>@Model.Fullname<br />
                <b>Address : </b>@Model.Address <br />
                <b>TelephoneNo. : </b> @Model.PhoneNumber<br />
                <b>Date of Birth : </b>@Model.BirthDate.ToString("d MMMM yyyy")
            </p>
        </div>
        <div class="card-footer">
            <nav class="navbar navbar-light bg-light text-dark">
                <div class="container-fluid">
                    <a asp-controller="Member"
                       asp-action="Edit"
                       asp-route-id="@Model.Id"
                       class="btn btn-link text-dark">
                        แก้ไข
                    </a>

                    <form asp-controller="Account" asp-action="Logout" class="d-flex">
                        <button type="submit" class="btn btn-link text-dark">Logout</button>
                    </form>
                </div>

        </div>
    </div>
</div>

